<div class="container">
  <p-card
    header="Cadastro de Cliente"
    subheader="O seguinte cadastro será utilizado em Vendas e Ordens de Serviço"
    class="mt-4"
  >
    <form [formGroup]="formularioCliente" (ngSubmit)="salvarCliente()">
      <div class="row gx-3 gy-4 mt-0">
        <div class="col-12 col-md-6">
          <p-floatlabel>
            <input
              pInputText
              id="nome"
              autocomplete="off"
              formControlName="nome"
              [invalid]="
                formularioCliente.get('nome')?.touched && formularioCliente.get('nome')?.invalid
              "
            />
            <label for="nome">Nome: *</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <p-floatlabel>
            <p-select
              inputId="tipoPessoa"
              formControlName="tipoPessoa"
              [invalid]="
                formularioCliente.get('tipoPessoa')?.touched &&
                formularioCliente.get('tipoPessoa')?.invalid
              "
              [options]="tipoPessoaOptions"
              optionLabel="descricao"
              optionValue="valor"
            />
            <label for="tipoPessoa">Tipo de Pessoa: *</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <p-floatlabel>
            <p-inputmask
              inputId="cpfCnpj"
              name="cpfCnpj"
              formControlName="cpfCnpj"
              [invalid]="
                formularioCliente.get('cpfCnpj')?.touched &&
                formularioCliente.get('cpfCnpj')?.invalid
              "
              [mask]="
                formularioCliente.get('tipoPessoa')?.value === 'PJ'
                  ? '99.999.999/9999-99'
                  : '999.999.999-99'
              "
            />
            <label for="cpfCnpj">Cpf/Cnpj: *</label>
          </p-floatlabel>
        </div>
      </div>
      <div class="row gx-3 gy-4 mt-0">
        <div class="col-12 col-sm-7 col-md-8">
          <p-floatlabel>
            <input
              pInputText
              id="email"
              name="email"
              formControlName="email"
              [invalid]="
                formularioCliente.get('email')?.touched && formularioCliente.get('email')?.invalid
              "
            />
            <label for="email">Email: *</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-5 col-md-4">
          <p-floatlabel>
            <p-inputmask
              inputId="telefone"
              name="telefone"
              formControlName="telefone"
              [invalid]="
                formularioCliente.get('telefone')?.touched &&
                formularioCliente.get('telefone')?.invalid
              "
              mask="(99) 99999-9999"
            />
            <label for="telefone">Telefone: *</label>
          </p-floatlabel>
        </div>
      </div>
      <div class="row gx-3 gy-4 mt-0">
        <div class="col-12 col-md-3">
          <p-floatlabel>
            <p-inputmask
              inputId="cep"
              name="cep"
              formControlName="cep"
              [invalid]="
                formularioCliente.get('cep')?.touched && formularioCliente.get('cep')?.invalid
              "
              mask="99999-999"
            />
            <label for="cep">Cep: *</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-8 col-md-7">
          <p-floatlabel>
            <input
              pInputText
              id="logradouro"
              name="logradouro"
              formControlName="logradouro"
              [invalid]="
                formularioCliente.get('logradouro')?.touched &&
                formularioCliente.get('logradouro')?.invalid
              "
              type="text"
            />
            <label for="logradouro">Logradouro: *</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-4 col-md-2">
          <p-floatlabel>
            <input
              pInputText
              id="numero"
              name="numero"
              formControlName="numero"
              [invalid]="
                formularioCliente.get('numero')?.touched && formularioCliente.get('numero')?.invalid
              "
              type="text"
            />
            <label for="numero">Número: *</label>
          </p-floatlabel>
        </div>
      </div>
      <div class="row gx-3 gy-4 mt-0">
        <div class="col-12 col-md-6">
          <p-floatlabel>
            <input
              pInputText
              id="bairro"
              name="bairro"
              formControlName="bairro"
              [invalid]="
                formularioCliente.get('bairro')?.touched && formularioCliente.get('bairro')?.invalid
              "
              type="text"
            />
            <label for="bairro">Bairro: *</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <button type="submit" pButton severity="success">
            <svg data-p-icon="save"></svg>Salvar
          </button>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <button type="button" pButton severity="danger">
            <svg data-p-icon="times"></svg>Cancelar
          </button>
        </div>
      </div>
    </form>
  </p-card>
</div>
